/* JohnT: overrides to turn of popup footnotes, which cause hopeless overlaying in IE6*/
/* last updated: 2007-07-12 */

/* JohnT: global defaults */
body				{ font-family: Gentium, Times New Roman, Serif; font-size: 12pt}
body.mainDoc	{
	background-image: none;
	background-repeat: inherit;
	background-attachment:inherit;
	background-position:inherit}


a:hover { }
 
a:hover span.popup {display:none}
a:hover span.crpopup {display:none}

