/* stylesheet for use with geneated ChapterIndex.htm pane file */
body				{ font-family: Gentium, Times New Roman, Serif; font-size: 12pt}

body.BookChapIndex, body.ConcIndex	{background: #ff8}
div.BookChapIndex	{ }
p.IndexChapterList	{ margin-left: 18pt; margin-top: 0pt; margin-bottom: 0pt }
p.IndexIntroduction	{ margin-left: 18pt; margin-top: 0pt; margin-bottom: 0pt; padding-bottom: 0pt}
p.IndexBookName		{ margin-bottom: 0pt; margin-top: 3pt }


