/* stylesheet for use with osis2html.xsl */
/* Dave van Grootheest, Netherlands Bible Society */
/* last updated: 2007-07-12 */

/* JohnT: global defaults */
body				{ font-family: Charis SIL, Times New Roman, Serif; font-size: 12pt}
body.mainDoc	{
	background-image: url(watermark.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:center bottom}

div.maintitle        { display: block; text-align: center; font-family: Arial; font-size: 22pt; font-weight: bold; margin-top: 10pt; margin-bottom: 10pt }
div.maintitle1       { display: block; text-align: center; font-family: Arial; font-size: 22pt; font-weight: bold; margin-top: 2pt }
div.maintitle2       { display: block; text-align: center; font-size: 14pt; font-weight: bold; font-style: italic; margin-bottom: 2pt }
div.copyright       { display: block; text-align: center; font-family: Arial; font-size: 12pt; color: red; margin-bottom: 2pt }

div.sectionheading   { display: block; text-align: center; font-family: Arial; font-weight: bold; margin-top: 12pt }
div.sectionsubheading   { display: block; text-align: center; font-family: Arial; font-weight: bold; font-style: italic; margin-top: 6pt; margin-left: 12pt } /* JohnT */
div.sectionsubsubheading   { display: block; text-align: center; font-family: Arial; font-size: 10pt; font-weight: bold; font-style: normal; margin-top: 6pt; margin-left: 12pt } /* JohnT */
div.parallel		 { font-family: Charis SIL, Times New Roman, Serif; display: block; text-align: center; font-style: italic; margin-top: 0pt; font-size:9pt } /* JohnT */
div.parallelSub		 { font-family: Charis SIL, Times New Roman, Serif; display: block; text-align: center; font-style: italic; margin-top: 0pt; margin-left: 12pt; font-size:9pt } /* JohnT */


/* JohnT: based on a recommendation in http://www.xs4all.nl/~sbpoley/webmatters/superscripts.html,  to make line spacing
as nearly as possible uniform despite superscripts, especially in FF, we set block elements that contain them to a line-height
of 1.4 em, and the actual superscript elements have a line-height of zero.*/
div.prose            { display: block; margin-bottom: 6pt; line-height: 1.4em; text-align:justify; margin-top: 6pt}
div.proseblock       { display: block; line-height: 1.4em; text-align:justify}
div.proseblockindent { display: block; margin-left: 1cm; line-height: 1.4em; text-align:justify }
div.poetry           { display: block; margin-left: 1.5cm; text-indent: -0.5cm; line-height: 1.4em }
div.embeddedPoetry   { display: block; margin-left: 2.0cm; text-indent: -0.5cm; line-height: 1.4em; margin-right: 1.0cm; text-align:justify }
div.deepPoetry       { display: block; margin-left: 2.5cm; text-indent: -0.5cm; line-height: 1.4em; margin-right: 1.0cm; text-align:justify }
div.list             { margin-left: 1cm; text-indent: -0.5cm; line-height: 1.4em }
div.quoteSource		 { display:block; text-align:right; font-style:italic}
div.introListItem    { margin-left: 1cm; text-indent: -0.5cm; line-height: 1.4em }
div.pageFooter            { display: block; margin-bottom: 6pt; text-align:justify; margin-top: 6pt; font-family: Arial; font-size: 8pt}
div.text            {margin-left: 0;margin-right:0}
div {margin-left:0.5cm; margin-right:0.5cm}

p.footnote, p.crossRefNote
					{display: block; font-family:Charis SIL, Times New Roman; margin-top: 3pt; font-size: 10pt; text-align: justify}

span.chapter         { font-family: Times New Roman, Serif; font-size: 32pt; font-weight: bold; float:left; margin-right: 4pt; line-height: 30pt; padding-top: 1pt; vertical-align:top }
div.poetry span.chapter         {margin-right: 20pt }
span.verse           { white-space:nowrap; font-family: Times New Roman, Serif; vertical-align: super; font-size: 7pt; margin-right: 2pt; color:Maroon; line-height:  0 }
span.smallcaps       { font-size: smaller }
span.notemark        { font-family: Times New Roman, Serif; font-size: 9pt; vertical-align: super; margin-left: 2pt; line-height: 0}
span.crmark			 { font-family: Times New Roman, Serif; font-size: 9pt; vertical-align: super; margin-left: 2pt; line-height: 0}
span.overlap        {} /* Where chapter number splits paragraph, used for part of paragraph in a different chapter. */

/* JohnT: for tooltips. The dummy font-size rule is a trick to make IE 'notice' the hover on the span, which apparently it otherwise ignores. */
a span.popup {display:none}
a span.crpopup {display:none}
a:hover {
  font-size: 100%;
  }
 
a:hover span.popup 
{
  font-family: Charis SIL, Times New Roman;
  position: absolute;
  display: block;
  background: #afa;
  border: 1px solid black;
  color: black;
  margin-left:2pt;
  padding-left: 3pt;
  padding-right: 3pt;
  text-decoration: none;
  text-indent: 0pt;
  z-index: 1;
  max-width: 3in;
  font-weight:normal;
  text-align:left;
  }
  a:hover span.crpopup {
  font-family: Charis SIL, Times New Roman;
  position: absolute;
  display: block;
  background: #ff8;
  border: 1px solid black;
  color: black;
  margin-left:2pt;
  padding-left: 3pt;
  padding-right: 3pt;
  text-decoration: none;
  text-indent: 0pt;
  z-index: 1;
  max-width: 3in;
  font-weight:normal;
  text-align:left;
  }

td.text              { line-height: 18pt }

a.noteBackRef		{margin-right: 4pt}

/* JohnT, for chapter index */
body.BookChapIndex, body.ConcIndex	{background: #ff8}
div.BookChapIndex	{ }
p.IndexChapterList	{ margin-left: 18pt; margin-top: 0pt; margin-bottom: 0pt }
p.IndexIntroduction	{ margin-left: 18pt; margin-top: 0pt; margin-bottom: 0pt; padding-bottom: 0pt}
p.IndexBookName		{ margin-bottom: 0pt; margin-top: 3pt }

/* JohnT, for word occurrence files */
span.OccRef			{color:Maroon}
span.special		{color:Gray}

/* JohnT, for bookNames index file */
table.BookNameTable {}
th.bookNameHeader,th.bookNameVernHeader, td.bookNameMissing, td.bookNameItem	{padding-right: 4pt}
th.bookNameHeader,th.bookNameVernHeader	{text-align:left}
td.bookNameVern,th.bookNameVernHeader	{color:Blue}
td.bookNameMissing						{background-color:Yellow}
td.bookNameItem							{}

/* JohnT: for print footer. Note there should be only one in doc, with ID (not class) print-footer.
This does not work well...not at all in IE (the footer div is hidden on screen, appears inline in print).
In Firefox it sort of works, but the footer is in addition to the standard one and prints too close to
other text, sometimes on top of it. Currently I am not using these styles. */
@media print {
	div#print-footer {display: block; position: fixed; bottom: 0; padding-top: 10pt}
}
@media screen {
	div#print-footer {display: none;}
}

